Repository Horizons-Games/Axolotl-Engine, pull requests merged in 2023-06, with the labels that each got.

#471 fix: drone gets the GlobalRotation instead of the LocalRotation
  Game/Scripts/DroneAttack.cpp
  Game/Scripts/NewPlayerMobilityTest.cpp
  Game/Scripts/NewPlayerMobilityTest.h
  Source/Engine.vcxproj
  Source/Engine.vcxproj.filters
Labels: gameplay

#478 fix: don't draw if mesh is disabled
  Source/Modules/ModuleRender.cpp
Labels: bug, graphics

#481 fix: old getComponent
  Source/Modules/ModuleRender.cpp
Labels: bug

#473 fix: Bix now correctly stops moving after her life being reduced to 0
  Game/Assets/Scenes/GameplayFullTrial_VS3.axolotl
  Game/Scripts/BixAttackScript.cpp
  Game/Scripts/BixAttackScript.h
  Game/Scripts/DroneBullet.cpp
  Game/Scripts/HealthSystem.cpp
  Game/Scripts/HealthSystem.h
  Game/Scripts/PlayerForceUseScript.cpp
  Game/Scripts/PlayerForceUseScript.h
  Game/Scripts/PlayerJumpScript.cpp
  Game/Scripts/PlayerJumpScript.h
  Game/Scripts/PlayerMoveScript.cpp
  Game/Scripts/PlayerMoveScript.h
Labels: gameplay

#507 chore: update/improve the structure of the scripts so they are more intuitive
  Game/Assets/Scenes/GameplayFullTrial_VS3.axolotl
  Game/Scripts/ActionsPowerUpScript.cpp
  Game/Scripts/ActivationLogic.h
  Game/Scripts/BixAttackScript.cpp
  Game/Scripts/BixAttackScript.h
  Game/Scripts/ButtonSoundScript.h
  Game/Scripts/CantinaMusicScript.h
  Game/Scripts/DefaultScript.h
  Game/Scripts/DroneFastAttack.cpp
  Game/Scripts/DroneFastAttack.h
  Game/Scripts/DroneFastBullet.cpp
  Game/Scripts/DroneFastBullet.h
  Game/Scripts/EnemyDeathScript.cpp
  Game/Scripts/EnemyDeathScript.h
  Game/Scripts/EnemyDroneScript.cpp
  Game/Scripts/EnemyDroneScript.h
  Game/Scripts/EnemyManagerScript.cpp
  Game/Scripts/EnemyManagerScript.h
  Game/Scripts/HealthSystem.cpp
  Game/Scripts/HealthSystem.h
  Game/Scripts/HelloWorldScript.cpp
  Game/Scripts/HelloWorldScript.h
  Game/Scripts/InteractWithPowerUpScript.cpp
  Game/Scripts/InteractWithPowerUpScript.h
  Game/Scripts/MenuMusic.h
  Game/Scripts/PlayerCameraRotationVerticalScript.h
  Game/Scripts/PlayerDeathScript.cpp
  Game/Scripts/PlayerDeathScript.h
  Game/Scripts/PlayerForceUseScript.cpp
  Game/Scripts/PlayerForceUseScript.h
  Game/Scripts/PlayerJumpScript.h
  Game/Scripts/PlayerManagerScript.cpp
  Game/Scripts/PlayerManagerScript.h
  Game/Scripts/PlayerMoveScript.cpp
  Game/Scripts/PlayerMoveScript.h
  Game/Scripts/PlayerRotationScript.h
  Game/Scripts/PowerUpLogicScript.cpp
  Game/Scripts/PowerUpLogicScript.h
  Game/Scripts/PowerUpScript.cpp
  Game/Scripts/PowerUpsManagerScript.cpp
  Game/Scripts/PowerUpsManagerScript.h
  Game/Scripts/TriggerSewersMusic.h
  Game/Scripts/TriggerSewersMusicExit.h
  Game/Scripts/UIButtonControl.h
  Game/Scripts/UIGameStates.h
  Game/Scripts/UIImageControl.cpp
  Game/Scripts/UIImageControl.h
  Game/Scripts/UITrigger.h
  Source/Engine.vcxproj
  Source/Engine.vcxproj.filters
  Source/PreMades/TemplateSourceScript
Labels: gameplay

#515 feat: improve the force powers
  Game/Assets/Scenes/GameplayFullTrial_VS3.axolotl
  Game/Scripts/EnemyDroneScript.cpp
  Game/Scripts/EnemyDroneScript.h
  Game/Scripts/PlayerForceAttackScript.cpp
  Game/Scripts/PlayerForceAttackScript.h
  Source/Engine.vcxproj
  Source/Engine.vcxproj.filters
  Source/Modules/ModulePhysics.cpp
Labels: gameplay

#514 feat : Deferred rendering
  Source/DataModels/Batch/BatchManager.cpp
  Source/DataModels/Batch/BatchManager.h
  Source/DataModels/Batch/GeometryBatch.cpp
  Source/DataModels/GBuffer/GBuffer.cpp
  Source/DataModels/GBuffer/GBuffer.h
  Source/DataModels/Skybox/Skybox.cpp
  Source/DataModels/Windows/EditorWindows/WindowScene.cpp
  Source/Engine.vcxproj
  Source/Engine.vcxproj.filters
  Source/Modules/ModuleInput.cpp
  Source/Modules/ModuleProgram.cpp
  Source/Modules/ModuleProgram.h
  Source/Modules/ModuleRender.cpp
  Source/Modules/ModuleRender.h
  Source/Shaders/default_animations_vertex.glsl
  Source/Shaders/deferred_lighting_fragment.glsl
  Source/Shaders/gBuffer_Metallic_fs.glsl
  Source/Shaders/gBuffer_Specular_fs.glsl
  Source/Shaders/metallic_fragment.glsl
  Source/Shaders/render_clip_space_vertex.glsl
  Source/Shaders/sv.glsl
Labels: graphics

#527 feat: powerUp follows the player
  Game/Assets/Meshes/sphere.mesh
  Game/Assets/Meshes/sphere.sphere_0.mesh
  Game/Assets/Meshes/sphere.sphere_0.mesh.meta
  Game/Assets/Scenes/GameplayFullTrial_VS3.axolotl
  Game/Scripts/PowerUpLogicScript.cpp
  Game/Scripts/PowerUpLogicScript.h
  Game/Scripts/PowerUpsManagerScript.cpp
  Game/Scripts/PowerUpsManagerScript.h
Labels: gameplay

#546 feat: Movement memory when changing camera space
  Game/Scripts/PlayerMoveScript.cpp
  Game/Scripts/PlayerMoveScript.h
Labels: gameplay

#548 feat: Continuous rotation with Player
  Game/Assets/Scenes/GameplayFullTrial_VS3.axolotl
  Game/Scripts/PlayerManagerScript.cpp
  Game/Scripts/PlayerManagerScript.h
  Game/Scripts/PlayerMoveScript.cpp
  Game/Scripts/PlayerMoveScript.h
Labels: gameplay
